@import url("./reset.css");
@import url("https://fonts.cdnfonts.com/css/gilam?styles=63130,63128");
@import url("https://fonts.cdnfonts.com/css/circe?styles=15451");
.body {
  background-color: #171717;
  padding-bottom: 238px;
}
.container {
  max-width: 1460px;
  margin: 0 auto;
  font-family: "Gilam", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  margin-top: 46px;
  width: 216px;
  height: 33px;
}
.callback {
  margin-top: 37px;
  font-family: "Circe" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  padding: 10px 25px;
  color: #e4b564;
  box-sizing: border-box;
  width: 218px;
  height: 50px;
  border: 1px solid #e4b564;
}
.telephone {
  padding-right: 10px;
}
.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  margin-top: 128px;
}
.text {
  max-width: 1182px;
  margin-top: 41px;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(334px, 1fr);
  grid-gap: 27px;
  margin-top: 41px;
}
.services__list li {
  text-align: center;
  align-items: center;
  padding-top: 7em;
}
.services__item1 {
  grid-column: 1/3;
  grid-row: 1;
  background: #634f2c;
}
.services__item2 {
  background: #b4a385;
  grid-column: 3/5;
  grid-row: 1;
}
.services__item3 {
  background: #e4b564;
  grid-column: 5/7;
  grid-row: 1;
}
.services__item4 {
  background: #635a4a;
  grid-column: -7/-4;
  grid-row: 2;
}
.services__item5 {
  background: #b08c4d;
  grid-column: -4/-1;
  grid-row: 2;
}
.car__park_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(74px, 1fr);
  grid-gap: 24px 30px;
  margin-top: 94px;
  font-weight: 500;
}
.car__park_list li {
  padding-top: 44px;
  padding-left: 52px;
}
.car__park_item1 {
  background: #0e0e0e;
  grid-column: 1/2;
  grid-row: 1/5;
}
.car__park_item2 {
  background: #242424;
  grid-column: 2/3;
  grid-row: 1/7;
}
.car__park_item3 {
  background: #1f1f1f;
  grid-column: 3/4;
  grid-row: 1/4;
}
.car__park_item4 {
  background: #1f1f1f;
  grid-column: 1/2;
  grid-row: 5/12;
}
.car__park_item5 {
  background: #e4b564;
  color: #000000;
  grid-column: 2/3;
  grid-row: 7/11;
  margin-bottom: -75px;
}
.car__park_item6 {
  background: #0e0e0e;
  grid-column: 3/4;
  grid-row: 4/8;
}
.car__park_item7 {
  background: #0a0909;
  grid-column: 3/4;
  grid-row: 8/12;
}
.car__park_span {
  font-weight: 700;
}
.background {
  background: #0e0e0e;
  margin-top: 191px;
  min-height: 1054px;
}
.projects {
  padding-top: 150px;
}
.projects__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__title {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.8;
}
.projects__link {
  width: 180px;
  height: 50px;
  border: 1px solid #e4b564;
  font-family: "Circe" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #e4b564;
  padding-left: 39px;
  padding-top: 10px;
}
.projects__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(391px, 1fr);
  margin-top: 72px;
}
.projects__item1 {
  background: #634f2c;
  background-image: url("../img/a.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.projects__item2 {
  background: rgba(232, 210, 171, 0.76);
  background-image: url("../img/c.png");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  text-align: center;
  align-items: center;
  padding-top: 10em;
  font-weight: 500;
  cursor: pointer;
}
.projects__item3 {
  background: #e4b564;
  background-image: url("../img/image6.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.projects__item4 {
  background: #635a4a;
  background-image: url("../img/image6.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.projects__item5 {
  background: #b08c4d;
  background-image: url("../img/2c00a5f1.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.projects__item6 {
  background: #634f2c;
  background-image: url("../img/image5.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
